<!doctype html>
<html>
  <head>
    <title> Green Near Me </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h2>Here are the recycling bins that accept your plastic: </h2>
  </body>
</html>