<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Recycle001.svg/2000px-Recycle001.svg.png"/>
    <title> Green Near Me </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Got Plastic?</h1>
    <h2>The earth is a beautiful place</h2>
    <h3>in 2050, our earth may "expire" from over pollution.</h3>
    <h2>Recycle.<h2>
    <h4>Enter the plastic number symbol located on the bottom of your plastic and we'll list the recycling centers near you that accept that plastic. </h4>
    <h4> If you just want to see a list of recycling centers and the plastics that they accept, click <a href="full_list">here</a>.</h4>
        <div class="column">
    <form method = "POST" action="/bin_results">
      <p>Number of Plastic: </p><input type="text" name="input_plastic">
      <p>Address: </p><input type="text" name="input_address">
      <input type="submit">cd
      </div>



  </body>
</html>