<!doctype html>
<html>
  <head>
    <title> Green Near Me </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Got Plastic?</h1>
    <h2>The earth is a beautiful place</h2>
    <h2>in 2050, our earth may "expire" from over pollution.</h2>
    <h2>Recycle.</h2>
    <h2>Enter the number of your plastic and we'll list the recycling centers near you that accept that plastic. </h2>
    <h2> If you just want to see a list of recycling centers and the plastics that they accept, click <a href=""> here</a>.</h2>
        <div class="column">
    <form method = "POST" action="/bin_results">
<!--       <p>Number of Plastic: </p><input type="text" name="input_plastic"> -->
      <p>Address: </p><input type="text" name="input_zip_code">
      <input type="submit">
          </form>
             </div>
  </body>
</html>