h2
{
  text-align: center;
  color: rgb(148, 0, 222);
}

h1
{
  text-align: center;
  color: rgb(148, 0, 222);
}

h4
{
  text-align: center;
  color: rgb(148, 0, 222);
}

p
{
  text-align: center;
  color: rgb(148, 0, 222);
}

body
{
  background-color: rgb(135, 206, 250);
}

img.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}