html {
  background: url(https://wallpapersinbox.files.wordpress.com/2011/09/space-wallpaper-9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: rgb(255,255,255);
  text-align:center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:300px;
  font-size:300%
}

h2{
  color: rgb(255,255,255);
  text-align:center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:40px;
}

h3{
  color:rgb(255,255,255);
  text-align:center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:40px;
}

h4{
  color:rgb(255,255,255);
  text-align:center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:40px;
}

p{
  color:rgb(255,255,255);
  margin-left:570px;
  margin-right:0px;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:40px;
}

form{
  width: 700px ;
  margin-left: 0 auto;
}
label {
    text-align:right;
    width:100px;
}
input {
    margin-left: 650px;
}
label.check, label.radio {
    text-align:left;
}
.column {
  text-align:center;
}


